html {
    scroll-behavior: smooth;
    transition: 0.4s;

}
body{

}
#app{
 overflow-x:hidden;
    width:100vw;
}
p,li,span,div{
    color: #7a797e;
}
h1,h2,h3,h4,h5,h6{
    color:#29252b;
}
.v-toast__item .v-toast__text {
    color:white;
}
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 14px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #f97316;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #f97310;
  text-decoration: underline;
}
input::placeholder, :-ms-input-placeholder, ::-webkit-input-placeholder{
    color: rgba($color: #000000, $alpha: .5)
}
.paystack span{
    color:white;
}
.carousel__prev,
.carousel__next {
    background-color: #f5f2fe !important;
    color:#333 !important;
    border-color: #cec2de !important;
    border:1px solid;
}
.carousel__pagination {

    justify-content: end !important;

}
.carousel__pagination-button {

    width: 10px !important;
    height: 10px !important;
    border-radius: 50rem !important;
}
.dp__input {
border:none !important;
font-size:.8rem !important;
}
.my-gallery {
    display: flex;
    flex-wrap: wrap;
}
.gallery-thumbnail {
    a {
        img {
            transition: 0.4s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
.scrolltop {
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 5%;
    right: 15px;
    background: black;
    padding: 10px 8px;
    opacity: 0.4;
    color: white;
    font-size: 0.77rem;
    border-radius: 5px;
    z-index: index 999;
    &:hover {
        opacity: 1;
    }
}
.banner-arrow {
    position: absolute;
    bottom: 1px;
    margin-left: -1rem;
    left: 50%;
    z-index: 5;
}

.kenburns-top-right {
	-webkit-animation: kenburns-top-right 5s ease-out both;
	        animation: kenburns-top-right 5s ease-out both;
}


@-webkit-keyframes kenburns-top-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 16%;
            transform-origin: 84% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(20px, -15px);
            transform: scale(1.25) translate(20px, -15px);
    -webkit-transform-origin: right top;
            transform-origin: right top;
  }
}
@keyframes kenburns-top-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 16%;
            transform-origin: 84% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(20px, -15px);
            transform: scale(1.25) translate(20px, -15px);
    -webkit-transform-origin: right top;
            transform-origin: right top;
  }
}
.vibrate-1 {
	-webkit-animation: vibrate-1 0.3s linear infinite both;
	        animation: vibrate-1 0.3s linear infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-4-8 11:24:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

